<div class="navbar-container">
    <div class="title-container">
        <span class="title">Gourmet Moments</span>
        <a href="" class="rent-button">Séf Bérlés</a>
        <div class="searchfield">
            <input type="text" placeholder="Keresés" class="searchinput">
            <button class="searchbutton">Keresés</button>
        </div>
    </div>
    <div class="hamburger">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
</svg>

    </div>
</div>
