<div class="homecontainer">
    <div class="title">
        <span class="best">A Legjobb</span>
        <span class="rest">Privát séfek szállítják az éttermi élményt.</span>
        <span class="moments">Gourmet Moments</span>
    
    </div>
    <img src="voucher.jpg" alt="">
    <p>
        <span class="header"><span class="initial">R</span>ólunk</span>
<span class="title2">Gourmet Moments – Privát séfek az Ön otthonában</span>
A Gourmet Moments elhozza Önnek az éttermi élményt az otthona kényelmébe. Legyen szó ünnepi vacsoráról, családi összejövetelről, céges rendezvényről vagy romantikus estéről, nálunk a séf házhoz megy! Így Önnek nem kell többé órákat töltenie bevásárlással, főzéssel és előkészületekkel – csak élveznie kell a tökéletesen megkomponált fogásokat és a társaságot. Csapatunk gondosan válogatott, magasan képzett séfekből áll, akik a világ különböző konyháinak legjavát hozzák el Önnek. Személyre szabott menük, friss alapanyagok, professzionális tálalás – mindezt az Ön igényei szerint.
    </p>
    <img src="catering.jpg" alt="">
    <p>
        <span class="header"><span class="initial">S</span>éfek</span>
<span class="title2">A világ ízei, egyenesen az Ön asztalára</span>
Séfjeink nemcsak kiváló szakemberek, hanem igazi művészek is a konyhában. Olasz, francia, ázsiai, mexikói, mediterrán vagy vegetáriánus fogások – nálunk minden vendég megtalálja a kedvére valót. Minden privát séfünk több éves tapasztalattal, nemzetközi referenciákkal és szenvedéllyel végzi munkáját, hogy felejthetetlen gasztronómiai élményt nyújtson Önnek és vendégeinek. Legyen szó egy elegáns vacsoráról, egy kötetlen grillpartiról vagy egy exkluzív kóstolóról, séfjeink minden alkalomra tökéletes megoldást kínálnak.
    </p>
    <img src="grazing.jpg" alt="">
</div>